extends layout

block content
  h1= title
  p Lista de links de coches
  div(class="row" , data-ng-controller="CarCtrl")
    div(class="col-lg-6")
      table(class="table")
        tr
          th #
          th Date
          th Link
          th Price
        tr(data-ng-repeat="car in cars track by $index")
          td {{$index + 1}}
          td {{car._id|date:'m/d/yyyy'}}
          td {{toUTCDate(car._id)}}
          td {{car.name}}
          td
            a(href="{{car.link}}") link
          td {{car.price}}
