doctype html
html
  head
    title= title
    script(src="components/angular/angular.js")
    script(src="components/angular-bootstrap/ui-bootstrap.js")
    script(src="angular/app.js")
    script(src="angular/link/Cars.js")
    script(src="angular/link/CarCtrl.js")
    script(src="angular/link/CarService.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='components/angular-bootstrap/ui-bootstrap-csp.css')
    script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')
  body(ng-app="app")
    block content
